# Fill:
#   `ExecStart` with path to the executable and sudo
#   `<device-name>` with device name
# Copy this file .service to /etc/systemd/system/
# Execute `sudo systemctl daemon-reload`
# Execute `sudo systemctl enable push-to-talk`
# Execute `sudo systemctl start push-to-talk`
[Unit]
Description=Push to talk fix Service
StartLimitIntervalSec=2

[Service]
Type=simple
Restart=always
RestartSec=60
User=user
ExecStart=/usr/bin/sudo /home/user/Sources/wayland-push-to-talk-fix/push-to-talk <device-name>
ExecStop=/bin/sleep 5

[Install]
WantedBy=multi-user.target
